<ion-header>
  <ion-navbar>
    <ion-title>
      QR Code App
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header center text-center style="background-color : #f53d3d; color: white">
      Make Payment
    </ion-card-header>

    <ion-card-content>
      <br/> To Make Payment, Scan the Recipient's QR Code by clicking on Scan Code Below



      <button ion-button full icon-left (click)="scanCode()" color="secondary"><ion-icon name="qr-scanner"></ion-icon>Scan
        Code
      </button>

      <ion-card *ngIf="createdCode">
        <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
        <ion-card-content>
          <p>Value: {{ createdCode }}</p>
        </ion-card-content>
      </ion-card>

      <ion-card *ngIf="scannedCode">

        <ion-card-header center text-center style="background-color: blue; color : white">
          Payment Details
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            Name : {{ name }}</ion-item>
          <ion-item>
            Amount : {{ amount }}
          </ion-item>
          <ion-item>
            Received to : {{ mode }}
          </ion-item>
          <ion-item>
            Number : {{ number }}
          </ion-item>
          <ion-item>
            <button (click)="calling()">
              <ion-icon color="primary" name="logo-usd" item-start></ion-icon>
              Make Payment
            </button>
          </ion-item>
        </ion-card-content>

      </ion-card>
    </ion-card-content>
  </ion-card>
</ion-content>